body, html{
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
    background: url(mountain.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #cfc8c0;
    padding-top: 20px;
    position: relative;
}

h1, p{
    color: #cfc8c0;
}

.navbar{
    text-transform: lowercase;
    color: #cfc8c0;
}

.contentsection{
    padding: 25px 0;
}

.divider{
    padding-top: 50px;
}
.nav-link{
    font-size: 1rem;
    transition: .5s;
    color: #cfc8c0;
}

.nav-link:hover{
    text-transform: uppercase;
}

.bg-dark{
    background-color: #030d19;
}

.placeholder-left{
    float: left;
    width: 25%;
    height: 25%;
    padding: 10px;
    transition: .5s;
}

.buffer{
    padding: 10px;
}

.placeholder-right{
    float: right;
    width: 25%;
    height: 25%;
    padding: 10px;
    transition: .5s;
}

.placeholder-left:hover, .placeholder-right:hover{
    width: 30%;
    height: 30%;
}

.navbar-brand{
    transition: .5s;
}

.navbar-dark .navbar-brand:hover{
    color: #cfc8c0;
}

.active{
    text-decoration: underline;
}

.projects{
    background-color: rgba(3, 13, 25, .9);
    border: 2px solid #6d6362;
}

.left-align{
    padding: 10px;
}

.right-align{
    align-items: right;
    padding: 10px;
}

.row{
    background-color: rgba(3, 13, 25, .9);
    border: 2px solid #6d6362;
}

form{
    background-color: rgba(3, 13, 25, .9);
    border: 2px solid #6d6362;
}