:root {
	--base: #2563eb;
	--spacing: 10px;
	--blur: 10px;
}

/* DRUMKIT CSS */

.drumbackground {
	font-size: 10px;
	background: url('/background.jpg') bottom center;
	background-size: cover;
}

.keys {
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.key {
	border: 0.4rem solid black;
	border-radius: 0.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5rem black;
}

.playing {
	transform: scale(1.1);
	border-color: #2563eb;
	box-shadow: 0 0 1rem #2563eb;
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #2563eb;
}

/* JS CLOCK CSS */

.clockbackground {
	background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
	background-size: cover;
	font-family: 'helvetica neue';
	text-align: center;
	font-size: 10px;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 20px solid white;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
		inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
	width: 50%;
	height: 6px;
	background: black;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* CSS Variables Exercise */

.cssVarImg {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.hl {
	color: var(--base);
}

.cssvariables {
	text-align: center;
	background: #193549;
	color: white;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
}

.controls {
	margin-bottom: 50px;
}

input {
	width: 100px;
}

/* Flex Panels Exercise */

.flexBackground {
	box-sizing: border-box;
	background: #2563eb;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
	margin: 0;
	width: 100vw;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.panels {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
}

.panel {
	background: #6b0f9c;
	box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
	color: white;
	text-align: center;
	align-items: center;
	/* Safari transitionend event.propertyName === flex */
	/* Chrome + FF transitionend event.propertyName === flex-grow */
	transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
		flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
	font-size: 20px;
	background-size: cover;
	background-position: center;
	flex: 1;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.panel1 {
	background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
}
.panel2 {
	background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
}
.panel3 {
	background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}
.panel4 {
	background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
}
.panel5 {
	background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
}

/* Flex Children */
.panel > * {
	margin: 0;
	width: 100%;
	transition: transform 0.5s;
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel > *:first-child {
	transform: translateY(-100%);
}
.panel.open-active > *:first-child {
	transform: translateY(0);
}

.panel > *:last-child {
	transform: translateY(100%);
}
.panel.open-active > *:last-child {
	transform: translateY(0);
}

.panel p {
	text-transform: uppercase;
	font-family: 'Amatic SC', cursive;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
	font-size: 2em;
}

.panel p:nth-child(2) {
	font-size: 4em;
}

.panel.open {
	font-size: 40px;
	flex: 5;
}

/* Type Ahead */

.typeAheadBackground {
	box-sizing: border-box;
	background: #2563eb;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
	width: 100vw;
	height: 100vh;
}

.typeAheadInput {
	width: 100%;
	padding: 20px;
}

.search-form {
	max-width: 400px;
	margin: 50px auto;
}

input.search {
	margin: 0;
	text-align: center;
	outline: 0;
	border: 10px solid #f7f7f7;
	width: 120%;
	left: -10%;
	position: relative;
	top: 10px;
	z-index: 2;
	border-radius: 5px;
	font-size: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
	margin: 0;
	padding: 0;
	position: relative;
	/*perspective: 20px;*/
}

.suggestions li {
	background: white;
	list-style: none;
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
	margin: 0;
	padding: 20px;
	transition: background 0.2s;
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
}

.suggestions li:nth-child(even) {
	transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
	background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
	transform: perspective(100px) rotateX(-3deg) translateY(3px);
	background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

span.population {
	font-size: 15px;
}

.typehl {
	background: #ffc600;
}

/* Multiple Check */

.multipleCheckBackground {
	font-family: sans-serif;
	background: white;
}

.checkinbox {
	max-width: 400px;
	margin: 50px auto;
	background: white;
	border-radius: 5px;
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
	color: black;
}

.checkitem {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #3a3a3a;
}

.checkitem:last-child {
	border-bottom: 0;
}

.checkinput:checked + p {
	background: #f9f9f9;
	text-decoration: line-through;
}

.checkinput[type='checkbox'] {
	margin: 20px;
}

.checkp {
	margin: 0;
	padding: 20px;
	transition: background 0.2s;
	flex: 1;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
	border-left: 1px solid #d1e2ff;
}

/* Video Player */

.videoPlayerBackground {
	margin: 0;
	padding: 0;
	display: flex;
	background: white;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.player {
	max-width: 750px;
	border: 5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: relative;
	font-size: 0;
	overflow: hidden;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
	max-width: none;
	width: 100%;
}

.player:-webkit-full-screen {
	max-width: none;
	width: 100%;
}

.player__video {
	width: 100%;
}

.player__button {
	background: none;
	border: 0;
	line-height: 1;
	color: white;
	text-align: center;
	outline: 0;
	padding: 0;
	cursor: pointer;
	max-width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player__button:focus {
	border-color: blue;
}

.player__slider {
	width: 10px;
	height: 30px;
}

.player__controls {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: translateY(100%) translateY(-5px);
	transition: all 0.3s;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.1);
}

.player:hover .player__controls {
	transform: translateY(0);
}

.player:hover .progress {
	height: 15px;
}

.player__controls > * {
	flex: 1;
}

.progress {
	flex: 10;
	position: relative;
	display: flex;
	flex-basis: 100%;
	height: 5px;
	transition: height 0.3s;
	background: rgba(0, 0, 0, 0.5);
	cursor: ew-resize;
}

.progress__filled {
	width: 50%;
	background: blue;
	flex: 0;
	flex-basis: 50%;
}

/* unholy css to style input type="range" */

input[type='range'] {
	-webkit-appearance: none;
	background: transparent;
	width: 100%;
	margin: 0 5px;
}

input[type='range']:focus {
	outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
	background: rgba(255, 255, 255, 0.8);
	border-radius: 1.3px;
	border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type='range']::-webkit-slider-thumb {
	height: 15px;
	width: 15px;
	border-radius: 50px;
	background: blue;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type='range']:focus::-webkit-slider-runnable-track {
	background: #bada55;
}

input[type='range']::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
	background: #ffffff;
	border-radius: 1.3px;
	border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type='range']::-moz-range-thumb {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
	height: 15px;
	width: 15px;
	border-radius: 50px;
	background: blue;
	cursor: pointer;
}

/* Slide Scroll */

.slidescrollbackground {
	box-sizing: border-box;
	background: #2563eb;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1 {
	margin-top: 0;
}

.site-wrap {
	max-width: 700px;
	margin: 100px auto;
	background: white;
	padding: 40px;
	text-align: justify;
}

.align-left {
	float: left;
	margin-right: 20px;
}

.align-right {
	float: right;
	margin-left: 20px;
}

.slide-in {
	opacity: 0;
	transition: all 0.5s;
}

.align-left.slide-in {
	transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
	transform: translateX(30%) scale(0.95);
}

.slide-in.active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}

/* Local Storage */

.localstoragebackground {
	box-sizing: border-box;
	background: url('/oh-la-la.jpeg') center no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.localstoragesvg {
	fill: white;
	background: rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 50%;
	width: 200px;
	margin-bottom: 10px;
}

.wrapper {
	padding: 20px;
	max-width: 350px;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.plates {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;
}

.plates li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 0;
	font-weight: 100;
	display: flex;
}

.plates label {
	flex: 1;
	cursor: pointer;
}

.plates input {
	display: none;
}

.plates input + label:before {
	content: '⬜️';
	margin-right: 10px;
}

.plates input:checked + label:before {
	content: '🌮';
}

.add-items {
	margin-top: 20px;
}

.add-items input {
	padding: 10px;
	outline: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Mouse Move Effect */

.hero {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.mouseh1 {
	text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
	font-size: 100px;
}

/* Webcam Fun CSS */

.photobooth {
	background: white;
	max-width: 150rem;
	margin: 2rem auto;
	border-radius: 2px;
}

/*clearfix*/
.photobooth:after {
	content: '';
	display: block;
	clear: both;
}

.webcamplayer {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 200px;
}

/*
	Strip!
  */

.strip {
	padding: 2rem;
}

.strip img {
	width: 100px;
	overflow-x: scroll;
	padding: 0.8rem 0.8rem 2.5rem 0.8rem;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background: white;
}

.strip a:nth-child(5n + 1) img {
	transform: rotate(10deg);
}
.strip a:nth-child(5n + 2) img {
	transform: rotate(-2deg);
}
.strip a:nth-child(5n + 3) img {
	transform: rotate(8deg);
}
.strip a:nth-child(5n + 4) img {
	transform: rotate(-11deg);
}
.strip a:nth-child(5n + 5) img {
	transform: rotate(12deg);
}
